@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family:'Merriweather Sans',sans-serif;
}

a,a:hover {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.top-space {
  padding-top:100px
}

.full_vh {
height: 100vh;
}

.si-btns {
  margin:0 9px
}



/* .MuiTextField-root {
  margin-left: 0px !important;
  margin-right: important;
} */

#mainNav {
  box-shadow: none;
  background-color: #212529;
}

#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: background-color 0.2s ease;
}
#mainNav .navbar-brand {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #212529;
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: #6c757d;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.75rem 0;
}
#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #f4623a;
}
#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #f4623a !important;
}
.ms-auto {
  margin-left: auto !important;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, #2424244d 0%, rgb(11 11 11 / 75%) 100%), url(/images/band/band_one.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.root_loader {
  text-align: center;
    margin: 80px;
}
 

@media (min-width: 730px) {

  .container.small{
    width: 50%;
  }
  
  .si-btns {
    margin: 0px 9px;
  }

  #mainNav {
    box-shadow: none;
    background-color: #212529;
  }
  
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-shrink {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f4623a;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
    color: #f4623a;
  }

  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1.15rem;
  }
  header.masthead h1, header.masthead .h1 {
    font-size: 3rem;
  }

  .newsletter_section .container {
    margin: auto;
    width: 60%;
  }
  
  .root_loader {
      text-align: center;
      margin: 80px;
  }

  .root_loader.full {
    margin: 50vh;
  }
  

}


#home_events .container-fluid, #home_events .container-sm, #home_events .container-md, #home_events .container-lg, #home_events .container-xl, #home_events .container-xxl {
  max-width: 1920px;
}
#home_events .container-fluid .event-box, #home_events .container-sm .event-box, #home_events .container-md .event-box, #home_events .container-lg .event-box, #home_events .container-xl .event-box, #home_events .container-xxl .event-box {
  position: relative;
  display: block;
}
#home_events .container-fluid .event-box .event-box-caption, #home_events .container-sm .event-box .event-box-caption, #home_events .container-md .event-box .event-box-caption, #home_events .container-lg .event-box .event-box-caption, #home_events .container-xl .event-box .event-box-caption, #home_events .container-xxl .event-box .event-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: #212529c7;
  transition: opacity 0.25s ease;
  text-align: center;
}
#home_events .container-fluid .event-box .event-box-caption .project-category, #home_events .container-sm .event-box .event-box-caption .project-category, #home_events .container-md .event-box .event-box-caption .project-category, #home_events .container-lg .event-box .event-box-caption .project-category, #home_events .container-xl .event-box .event-box-caption .project-category, #home_events .container-xxl .event-box .event-box-caption .project-category {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}
#home_events .container-fluid .event-box .event-box-caption .project-name, #home_events .container-sm .event-box .event-box-caption .project-name, #home_events .container-md .event-box .event-box-caption .project-name, #home_events .container-lg .event-box .event-box-caption .project-name, #home_events .container-xl .event-box .event-box-caption .project-name, #home_events .container-xxl .event-box .event-box-caption .project-name {
  font-size: 1.2rem;
}
#home_events .container-fluid .event-box:hover .event-box-caption, #home_events .container-sm .event-box:hover .event-box-caption, #home_events .container-md .event-box:hover .event-box-caption, #home_events .container-lg .event-box:hover .event-box-caption, #home_events .container-xl .event-box:hover .event-box-caption, #home_events .container-xxl .event-box:hover .event-box-caption {
  opacity: 1;
}

/* .row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
} */

.newsletter_section {
  padding: 4rem 0;
}

.newsletter_section .container {
  margin: auto;
  width: 40%;
}

.page-section {
  padding: 4rem 0;
  background-color: #0d0d0d;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231a1a1a' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}



/*=============================
         USER
===============================*/

.user_container {
  display: flex;
  min-height: 100vh;
}

.user_container .dashboard_title{
  margin-top: 20px;
}

.user_container .user_left_nav {
  border-right: 1px solid #dedede;
}

.user_container .user_left_nav .links {
  margin: 13px 0px 40px 0px;
}

.user_container .user_left_nav .links a {
  display: block;
  border-bottom: 1px solid #dddddd;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 20px;
  width: 280px;
  text-decoration: none;
}

.user_container  .user_right {
  flex-grow: 1;
  padding: 0 29px 0 29px;
}

.user_container .user_nfo_panel {
  background: #f8f8f8;
  padding: 20px;
  margin-top: 20px;
}

.user_container .user_nfo_panel h1 {
  margin: 0 0 20px 0;
  line-height: 32px;
  text-transform: uppercase;
  font-size: 25px;
}


.user_container .user_nfo_panel span{
  display: block;
  font-size: 18px;
  font-weight: 300;
}


.page_container {
    padding: 50px 0px;
    min-height: 85vh;
}

.contact_wrapper {
  padding: 0px 20%;
}

.contact_wrapper .MuiFormControl-root {
  width:100%;
}


.event_form .MuiFormControl-root {
  width: 100%;
}
.event_form .date-time-field {
  width: inherit;
}

.file-uploader img {
  width:100%;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}


.show_container {
  margin-top: 50px;
}

.show_container .content {
  margin-bottom: 90px;
}

.show_container .content h1 {
  font-weight: 200;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;

}

.show_container .content p {
  font-weight: 200;
  font-size: 20px;
}

.latest-bottom-wrapper {
  margin-top: 50px;
}

.latest-bottom-wrapper h3 { 
  margin: 20px 0px;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
}

.shows_table .remove_btn {
  background: #dc3545;
}
.shows_table .remove_btn:hover {
  background: #ee7782;
}


.shows_table .edit_btn{ 
  background: #117a8b;
}
.shows_table .edit_btn:hover{ 
  background: #3d99a8;
}

.shows_table .action_btn{
  width: 100px;
  text-align: center;
  font-weight: 400;
  color: #fff !important;
  cursor: pointer;
}

.event_form {
  padding-bottom: 50px;
}

.MuiCardActions-root {
  padding: 16px;
}
 
@media (min-width: 992px) {
 
  .show_container .content h1 {
    font-size: 70px;
}

}